[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pip = "==18.0"
gmplot = "*"
geocoder = "*"
pyshp = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pyclipper = "*"

[requires]
python_version = "3.6"
